* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}


#myInput {
  width: 60%;
  font-size: 16px;
  padding: 12px;
  border: 1px solid #ddd;
  margin: 12px;
}

#searchButton {
  background-color: #0082e6;
  color: white;
  border: 1px solid #4CAF50;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
}

#searchButton:hover {
  background-color: #1b9bff; /* Darker green color on hover */
}


#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  margin-top: 10px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #0082e6;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin: 0 4px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #0082e6;
}

